doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Bienes Raices | #{page}
    link(rel="stylesheet", href="/css/app.css")
  body.min-h-screen.bg-gray-50

    main(class="mx-auto container mt-10 px-2")
      block contenido